<%= form_tag session_path, :method => :post do %>
<label for="email">Email</label>
<%= text_field_tag :email, nil, maxlength: 25, size: 25 %>
<label for="password">Password</label>
<%= password_field_tag :password, nil, maxlength: 8,size: 10 %>
<%= submit_tag "Login", data: { disable_with: "Logging in..." } %>
<text class="login"> Don't have an account yet? </text>
<%= link_to "Sign up", root_path %>.
<% end %>
</h4>




