<%= form_for @park do |f| %>
  <li><%= f.label :name %></li>
  <li><%= f.text_field :name %></li>

  <li><%= f.label :boroughs %></li>
  <li><%= f.text_field :boroughs %></li>
  <li><%= f.submit %></li>

<% end %>

<!-- great so now i have the park information seeded into my parks table in the cuddlr
database.

there is park id, name, boroughs, latitude and longitude (YAYYYYYYYY geocoder did that without me expecting it) 

user story:

as a user i want to create a dog in my database, save it, create a **date** in the park 
and other dogs can join.

how are we going to do this?

the user is given a list of parks to visit 
first list is by borough second by park
so borough >> manhattan >> washington square park
  borough >> bronx >> some shit in bronx

*** HOW ARE WE GOING TO IMPLEMENT GEOCODER INTO MY APP?? ***

call the method on the dog that tells you the user 
park is already tied to dog and dog is tied to user 
so when you have a park that is associated with a dog its park.dog.user
youre just showing a user associated with a park so when somebody else looks at a park
they can see all the users in a park 
 -->