<%= form_for @park do |f| %>
  <li><%= f.label :name %></li>
  <li><%= f.text_field :name %></li>

  <li><%= f.label :boroughs %></li>
  <li><%= f.text_field :boroughs %></li>
  <li><%= f.submit %></li>
<% end %>
