      
<p>This park is <%= @park.distance_to("#{@user.zipcode}").round(2) %> miles away. </p>

    <li> Name: <%= @park.name %></li>
    <li> Borough: <%= @park.borough %></li>
    <li> Address: <%= @park.address %></li>
    <br>
    <li> Nearest parks: </li>
     <ul> 
      <% @park.nearbys(1).each do |park| %>
        <li><%= park.name %></li>
        <% end %>
      </ul>

    