<%= link_to "Park Directory", parks_path %>
<%= link_to "All Dogs", dogs_path %>
<%= link_to "All Users", users_path %>


<h1><%= @park.name %>, <%= @park.borough %>, (<%= @park.distance_to("#{@user.zipcode}").round(2) %> miles away)</h1>
<p> <%= @park.address %></p>

<h4> Parks nearby: </h4>
<% @park.nearbys(1).each do |park| %>
<%= link_to park.name, park_path(park) %>
<% end %>

  <br>
  <% @park.users.each do |user| %>
    <% user.dogs.each do |d| %> 
    <p><%= link_to d.name, dog_path(d) %> plays here.</p>
        <% end %>
  <% end %>
  <br>
  <br>

  <%= button_to "Join this Park!", park_users_path(@park), :method => :post, class: "join" %> 

