<div class="profile-wrap">
<div class="user_profile">
<%= image_tag @dog.avatar.url(:medium), :class => "dog_profile" %>
<div class="profile_name">
<h1 class="user_profile">About <%= @dog.name.capitalize %></h1>
<hr>
<b><%= @dog.name.capitalize %></b> is a <%= @dog.age %>-year old <%= @dog.gender %> <%= @dog.breed.capitalize %> and belongs to <%= link_to @dog.user.email, user_path(@dog.user) =%>. <br>
Prefers playdates with <%= @dog.preference %> dogs.
</div>
</div>
<div class="user_profile">
  <ul class="park_section">Favorite parks
<% @user = @dog.user %>
<li class="park_section"><% @user.parks.each do |p| %>
  <%= link_to p.name, park_path(p) %>
<% end %>
<% if @user.parks.length < 1 %> 
  <%= "#{@dog.name} has no favorite parks yet." %>
<% end %>
</li>
<%= link_to "Find another date", parks_path %>
</div>
</div>
</ul>

<%= link_to "Edit Profile", edit_dog_path(@dog) %>

