<h1>Dog Database:</h1>
<ul>
  <li>Name: <%= @dog.name %>, belongs to user <%= link_to @dog.user_id, user_path(@dog.user) =%></li>
  <li>Age: <%= @dog.age %></li>
  <li>Breed: <%= @dog.breed %></li>
  <li>Interested in: <%= @dog.preference %></li>
</ul>

<%= link_to "Back", dogs_path %>
<%= link_to "Add more dogs", new_dog_path %>