<%= link_to "Back", dogs_path %>
<%= link_to "Park Directory", parks_path %>

<h1>About <%= @dog.name %>:</h1>

<b><%= @dog.name %></b> is a <%= @dog.age %>-year old <%= @dog.gender %> <%= @dog.breed %> and belongs to member # <%= link_to @dog.user_id, user_path(@dog.user) =%>. <br>
<i> Prefers playdates with <%= @dog.preference %> dogs. </i> 

<h3>Favorite parks:</h3>
<% @user = User.find(current_user) %>
<% @user.parks.each do |p| %>
<%= link_to p.name, park_path(p) %>
<% end %>

<br>

<%= link_to "Join Parks", parks_path %>
