<%= link_to "Back", users_path %>
<%= link_to "Park Directory", parks_path %>

<h2>This is <%= @user.email %>, owner of </h2> 
<% @user.dogs.each do |dog| %> 
<%= link_to dog.name, dog_path(dog) %>, a <%= dog.gender %> <%= dog.breed %> who likes to play with <%= dog.preference %> dogs.</li> 
<% end %>
</ul>

