<div class="profile-wrap">
<div class="user_profile">
<%= image_tag @user.avatar.url(:medium), :class => "user_profile" %>
<div class="profile_name">
<em> Name </em>
<h2 class="user_profile"><%= @user.name %></h2>
<em> Email </em>
<h2 class="user_profile"><%= @user.email %></h2>
<br>
<em>Zipcode</em>
<h2 class="user_profile"><%= @user.zipcode %></h2>
<q class="quote"><%= @user.tagline %></q>
<br>
 Is the proud owner of:
  <% @user.dogs.each do |dog| %> 
<li class="user_profile>"><%= link_to dog.name.capitalize, dog_path(dog), class: "dog-name" %>, a <%= dog.gender %> <%= dog.breed.capitalize %> who likes to play with <%= dog.preference %> dogs.</li>
<% end %></span>
</div>
</div>
</div>
<% if @user == current_user %>
<%= link_to "Edit Profile", edit_user_path(@user) %>
<% end %>