<!DOCTYPE html>
<html>
<head>
  <title>Cuddl.Me - A Doggy Dating Website</title>
  <%= stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <div class="row" id="logo_box">
    <div class="twelve columns">
      <header>
        <nav>
          <h1><a href="/" class="logo">Cuddl<span class="period">.</span>Me</a><%= image_tag("paw.png", :class => "paw") %><span class="tagline">Playdates for Dogs</span></h1>
          <hr>
          <div class="nav-wrap">
          <% if logged_in? %>
            <div id="header-login" class="button-custom">
              <%= link_to "Members", users_path %>
              <%= link_to "Dogs", dogs_path %>
              <%= link_to "Parks", parks_path %>
              <%= link_to "Account", user_path(current_user) %>
              <%= link_to "Sign Out", session_path, :method => :delete %>
          <% end %>
              <% unless logged_in? %>
                <div id="header-login" class="button-custom">
              <%= link_to "Login", new_session_path %>
              </div>
            <div id="header-members" class="button-custom">
              <%= link_to "Members", users_path %>
            </div>
          <% end %>
        </div>
        </div>
      </nav>
    </header>
  <%= yield %>
  <footer>&copy; Cuddl.Me | Making fetch happen since 2013.</footer>
</body>
</html>