<!DOCTYPE html>
<html>
<head>
  <title>Cuddl.Me</title>
  <%= stylesheet_link_tag  "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
<div>
  <% unless logged_in? %>
<%= link_to "Dog Directory", dogs_path %>
<%= link_to "Sign Up", new_user_path %>
<% end %>

<% if logged_in? %> 
<%= link_to "View Profile", user_dogs_path(current_user) %>
<%= link_to "Create Dog Profile", new_dog_path%>
<%= link_to "Edit Account", edit_user_path(current_user) %> |
<%= link_to "Sign Out", session_path, :method => :delete %>
<% end %>
</div>
<%= yield %>

  <footer>&copy; Cuddl.Me | Making fetch happen since 2013. </footer>
</body>
</html>